<div class="container-fluid m-3">
 <form id="filtersForm" action="{{ path('app_products_filters') }}" method="POST">
   <div class="row">
     <div class="col-lg-2 col-md-2 col-6">
       <select name="sort" class="form-select" aria-label="select sort type">
         <option>Trier par...</option>
         <option value="ascprice">Prix croissant</option>
         <option value="dscprice">Prix décroissant</option>
       </select>
     </div>
    <div class="col-lg-2 col-md-2 col-6">
      <select name="category" class="form-select" aria-label="select category" id="categorySelect">
        <option>Rayon...</option>
        {% for item in categoriesWithChildren %}
          <!-- Option pour sélectionner toute la catégorie -->
          <option class="fw-bold" value="{{ item.category.id }}">{{ item.category.name }}</option>

          <!-- Options pour les sous-catégories -->
          {% for child in item.children %}
            <option value="{{ child.id }}">&nbsp;&nbsp;&nbsp;{{ child.name }}</option>
          {% endfor %}
        {% endfor %}
      </select>
    </div>
     <div class="col-lg-2 col-md-2 col-4">
       <select name="nutriscore" class="form-select" aria-label="select nutriscore">
         <option value="">Nutriscore</option>
         <option value="1">A</option>
         <option value="2">B</option>
         <option value="3">C</option>
         <option value="4">D</option>
         <option value="5">E</option>
       </select>
     </div>
  
     <div class="col-lg-2 col-md-2 col-6">
       <div class="btn btn-light ms-4" id="favoritesSwitch">
          <div class="form-check form-switch form-check-reverse">
            <input name="favorites" class="form-check-input" type="checkbox" id="activateFavorites">
            <label class="form-check-label" for="activateFavorites">Favoris</label>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-6">
        <button type="submit" class="btn btn-success">
          Rechercher
        </button>
      </div>
    </div>
  </form>
</div>
